/* template-color */

.handle-preloader{
	background: #121113;
}

.preloader-close{
	color: #121113;
}

.scroll-to-top .scroll-bar-text{
	color: #fee100;
}

.header-top .top-inner .single-item .icon{
	color: #fee100;
}

.header-top .top-inner .share-box li h6 i{
	color: #fee100;
}

.header-top .top-inner .share-box li a:hover{
  color: #fee100;
}

.theme-btn.btn-one{
	background: #fee100;
}

.sidebar-info-contents .content-inner .contact-info ul li a:hover{
  color: #fee100;
}

.sidebar-info-contents .content-inner .social-box li a:hover{
  background: #fee100;
  border-color: #fee100;
}

.main-header .outer-box .support-box h4 a:hover{
  color: #fee100;
}

.main-menu .navigation > li > .megamenu ul li:last-child a:hover{
	color: #fee100;
}

.main-menu .navigation > li > .megamenu ul li:last-child a:before{
	color: #fee100;
}

.main-menu .navigation > li > ul > li > a:before{
	color: #fee100;
}

.main-menu .navigation > li > ul > li > a:hover{
	color: #fee100;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #fee100;
}

.theme-btn.btn-two:before{
	background: #fee100;
}

.banner-carousel .content-box p:before{
	background: #fee100;
}

.banner-section .owl-theme .owl-dots .owl-dot.active span{
  background: #fee100;
}

.banner-section .curve-text h6 a:hover{
  color: #fee100;
}

.about-section .small-column .image-box .social-list li a:hover{
  background: #fee100;
}

.service-block-one .inner-box .image-box .icon-box:before{
	background: #fee100;
}

.service-block-one .inner-box .lower-content .text h4 a:hover{
  color: #fee100;
}

.service-block-one .inner-box:hover .lower-content .lower-box{
	background: #fee100;
}

.service-section .owl-theme .owl-dots .owl-dot.active span:before{
  color: #fee100;
}

.main-header .outer-box .menu-right .search-toggler:hover{
  color: #fee100;
}

.courses-section .left-column .inner-box .image-box .text{
	background: #fee100;
}

.courses-section .content-box .inner .single-item h6 a:hover{
  color: #fee100;
}

.courses-section .content-box .lower-content h5 i{
	color: #fee100;
}

.courses-section .right-column .inner-box .image-box .text{
	background: #fee100;
}

.highlights-section .single-item h4 i{
	color: #fee100;
}

.find-section .upper-box .content-box form .form-group input:focus{
  border-color: #fee100 !important;
}

.process-section .left-column .inner-box .single-item p a:hover{
	color: #fee100;
}

.process-section .right-column .inner-box .single-item h4 a:hover{
	color: #fee100;
}

.pricing-block-one.active-block .pricing-table .table-header h2{
	color: #fee100;
}

.pricing-block-one.active-block .pricing-table .table-header h2 .course{
	color: #fee100;
}

.highlights-style-two .single-item .inner .icon-list li{
	color: #fee100;
}

.highlights-style-two .single-item .inner h4 a:hover{
	color: #fee100;
}

.advanced-section .title-inner .download-box .icon{
	color: #fee100;
}

.advanced-section .title-inner .download-box h4 a:hover{
	color: #fee100;
}

.list-style-one li:before{
	color: #fee100;
}

.testimonial-section .title-inner .rating-box .rating li{
	background: #fee100;
}

.testimonil-block-one .inner-box .rating li{
	color: #fee100;
}

.testimonil-block-one .inner-box .author-box h6{
	color: #fee100;
}

.news-block-one .inner-box .image-box .category{
	background: #fee100;
}

.news-block-one .inner-box .lower-content h4 a:hover{
	color: #fee100;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
	color: #fee100;
}

.news-block-one .inner-box .lower-content .link-box a:hover{
	color: #fee100;
}

.newsletter-section .single-item{
	background: #fee100;
}

.newsletter-section .single-item .content-box .icon-box{
	color: #fee100;
}

.newsletter-section .single-column:last-child .single-item .content-box .icon-box{
	background: #fee100;
}

.newsletter-section .single-item .content-box .subscribe-form .form-group button{
	background: #fee100;
}

.newsletter-section .shape .shape-8{
	background: #fee100;
}

.footer-top .logo-widget .list li a:after{
	color: #fee100;
}

.footer-top .logo-widget .copyright p span,
.footer-top .logo-widget .copyright p span a{
	color: #fee100;
}

.footer-top .widget-title:before{
	background: #fee100;
}

.footer-top .links-widget .links-list li a:hover{
	color: #fee100;
}

.footer-top .links-widget .links-list li a:hover:before{
	background: #fee100;
}

.footer-top .gallery-widget .image-list li .image{
	background: #fee100;
}

.footer-bottom .list li a:hover{
	color: #fee100;
}

.home01_v2 .header-top .top-inner .share-box li a:hover{
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li.current > a, 
.home01_v2 .main-menu .navigation > li:hover > a {
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li.dropdown.current > a:before, 
.home01_v2 .main-menu .navigation > li.dropdown:hover > a:before{
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li > .megamenu ul li:last-child a:hover{
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li > .megamenu ul li:last-child a:before{
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li > ul > li > a:hover{
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li > ul > li > a:before{
	color: #fe7b26;
}

.home01_v2 .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #fe7b26;
}

.home01_v2 .main-header .outer-box .menu-right .search-toggler:hover{
	color: #fe7b26;
}

.theme-btn.btn-three{
	border: 2px solid #fe7b26;
}

.theme-btn.btn-three:before{
	background: #fe7b26;
}

.home01_v2 .main-header .outer-box .support-box h4 a:hover{
	color: #fe7b26;
}

.home01_v2 .theme-btn.btn-two:before{
	background: #fe7b26;
}

.home01_v2 .banner-section .curve-text .curved-circle{
	color: #fe7b26;
}

.home01_v2 .banner-section .curve-text h6 a:hover{
	color: #fe7b26;
}

.home01_v2 .banner-carousel .content-box p:before{
	background: #fe7b26;
}

.home01_v2 .banner-section .owl-theme .owl-dots .owl-dot.active span{
	background: #fe7b26;
}

.home01_v2 .funfact-block-one .inner-box .count-outer{
	color: #fe7b26;
}

.home01_v2 .about-section .content-box h2{
	color: #fe7b26;
}

.home01_v2 .about-section .small-column .image-box .social-links h6{
	color: #fe7b26;
}

.home01_v2 .about-section .small-column .image-box .social-list li a:hover {
  background: #fe7b26;
}

.home01_v2 .course-style-two .title-box h6{
	color: #fe7b26;
}

.home01_v2 .course-style-two .title-box .price h2{
	color: #fe7b26;
}

.home01_v2 .course-style-two .text-inner .single-item .icon-box{
	color: #82b5bf;
}

.home01_v2 .course-style-two .lower-box h5 i{
	color: #fe7b26;
}

.home01_v2 .service-block-one .inner-box .image-box .icon-box{
	color: #fe7b26;
}

.home01_v2 .service-block-one .inner-box .lower-content .text h4 a:hover{
	color: #fe7b26;
}

.home01_v2 .service-block-one .inner-box .lower-content .lower-box .link a:hover{
	color: #fe7b26;
}

.home01_v2 .service-section .owl-nav button.owl-prev:hover:before,
.home01_v2 .service-section .owl-nav button.owl-next:hover:before{
	color: #fe7b26;
}

.home01_v2 .service-section .owl-theme .owl-dots .owl-dot.active span:before{
	color: #fe7b26;
}

.home01_v2 .find-section .upper-box .content-box form .form-group input:focus{
	border-color: #fe7b26 !important;
}

.home01_v2 .process-section .left-column .inner-box .image-box .video-btn a:hover{
	color: #fe7b26;
}

.home01_v2 .process-section .left-column .inner-box .single-item .icon{
	color: #fe7b26;
}

.home01_v2 .process-section .right-column .inner-box .single-item .icon{
	color: #fe7b26;
}

.home01_v2 .process-section .left-column .inner-box .single-item p a i{
	color: #fe7b26;
}

.home01_v2 .process-section .left-column .inner-box .single-item p a:hover{
	color: #fe7b26;
}

.home01_v2 .pricing-block-one .pricing-table .theme-btn.btn-two{
	color: #fe7b26 !important;
}

.home01_v2 .pricing-block-one .pricing-table .table-header .popular{
	background: #fe7d29;
}

.home01_v2 .pricing-block-one.active-block .pricing-table .package-box h4{
	color: #fe7b26;
}

.home01_v2 .highlights-style-two .single-item .inner .icon-list li{
	color: #fe7b26;
}

.home01_v2 .advanced-section .title-inner .download-box .icon{
	background: #fe7b26;
}

.home01_v2 .advanced-section .title-inner .download-box h4 a:hover{
	color: #fe7b26;
}

.home01_v2 .list-style-one li:before{
	color: #fe7b26;
}

.home01_v2 .testimonial-section .title-inner .rating-box .rating li{
	background: #fe7b26;
}

.home01_v2 .testimonil-block-one .inner-box .rating li{
	color: #fe7b26;
}

.home01_v2 .testimonil-block-one .inner-box .author-box h6{
	color: #fe7b26;
}

.home01_v2 .news-block-one .inner-box .lower-content h4 a:hover{
	color: #fe7b26;
}

.home01_v2 .news-block-one .inner-box .lower-content .post-info li i{
	color: #fe7b26;
}

.home01_v2 .news-block-one .inner-box .lower-content .post-info li a:hover{
	color: #fe7b26;
}

.home01_v2 .news-block-one .inner-box .lower-content .link-box a:hover{
	color: #fe7b26;
}

.home01_v2 .newsletter-section .shape .shape-8{
	background: #fe7b26;
}

.home01_v2 .newsletter-section .single-item{
	background: #fe7b26;
}

.home01_v2 .newsletter-section .single-item .content-box .icon-box{
	color: #fe7b26;
}

.home01_v2 .newsletter-section .single-item .content-box .download-box h6{
	color: #fe7b26;
}

.home01_v2 .footer-top .logo-widget .list li a:after{
	color: #fe7b26;
}

.home01_v2 .footer-top .logo-widget .copyright p span, 
.home01_v2 .footer-top .logo-widget .copyright p span a{
	color: #fe7b26;
}

.home01_v2 .footer-top .widget-title:before{
	background: #fe7b26;
}

.home01_v2 .footer-top .links-widget .links-list li a:hover{
	color: #fe7b26;
}

.home01_v2 .footer-top .links-widget .links-list li a:hover:before{
	background: #fe7b26;
}

.home01_v2 .footer-top .gallery-widget .image-list li .image{
	background: #fe7b26;
}

.home01_v2 .footer-bottom .list li a:hover{
	color: #fe7b26;
}

.home01_v2 .scroll-to-top .scroll-bar-text{
	color: #fe7b26;
}

.banner-style-two .curve-text .curved-circle{
	color: #b38e6e;
}

.banner-style-two .curve-text .icon-box{
	color: #b38e6e;
}

.banner-style-two .curve-text h6 a{
	color: #b38e6e;
}

.header-style-two .header-top .top-inner .single-item .icon{
	color: #b38e6e;
}

.header-style-two .header-top .top-right .single-item h6 a:hover{
	color: #b38e6e;
}

.header-style-two .header-top .top-inner .share-box li h6 i{
	color: #b38e6e;
}

.header-style-two .header-top .top-inner .share-box li a:hover{
	color: #b38e6e;
}

.header-style-two .menu-lower-content .text h5 a{
	color: #b38e6e;
}

.header-style-two .menu-lower-content .option-list li h6 a:hover{
	color: #b38e6e;
}

.header-style-two .menu-lower-content .option-list li h6 i{
	color: #b38e6e;
}

.header-style-two .outer-box .menu-right .search-toggler:hover{
	color: #b38e6e;
}

.theme-btn.btn-four:before{
	background: #b38e6e;
}

.header-style-two .main-menu .navigation > li > .megamenu ul li:last-child a:hover{
	color: #b38e6e;
}

.header-style-two .main-menu .navigation > li > .megamenu ul li:last-child a:before{
	color: #b38e6e;
}

.header-style-two .main-menu .navigation > li > ul > li > a:hover{
	color: #b38e6e;
}

.header-style-two .main-menu .navigation > li > ul > li > a:before{
	color: #b38e6e;
}

.header-style-two .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #b38e6e;
}

.banner-style-two .owl-nav button:hover:before{
  color: #b38e6e !important;
}

.banner-style-two .owl-theme .owl-dots .owl-dot.active span{
	background: #b38e6e;
}

.sec-title-two h5:before{
	background: #b38e6e;
}

.service-style-two .service-block-one .inner-box .image-box .icon-box{
	color: #b38e6e;
}

.service-style-two .service-block-one .inner-box:hover .lower-content .lower-box{
	background: #b38e6e;
}

.service-style-two .service-block-one .inner-box .lower-content .text h4 a:hover{
	color: #b38e6e;
}

.course-block-one .inner-box .image-box .price h2{
	color: #b38e6e;
}

.course-block-one .inner-box .content-box .btn-box a:hover{
	background: #b38e6e;
}

.course-block-one .lower-box .icon-box{
	color: #b38e6e;
}

.course-block-one .lower-box h6{
	color: #b38e6e;
}

.course-block-one .lower-box h3 a:hover{
	color: #b38e6e;
}

.course-style-three .owl-nav button.owl-prev:hover:before,
.course-style-three .owl-nav button.owl-next:hover:before{
	background: #b38e6e;
}

.car-block-one .inner-box:hover .content-box .lower-box{
	background: #b38e6e;
}

.car-block-one .inner-box .content-box .text h6:before{
	background: #b38e6e;
}

.car-block-one .inner-box .content-box .text h4 a:hover{
	color: #b38e6e;
}

.ourcars-section .owl-nav button:hover:before{
  color: #b38e6e !important;
}

.ourcars-section .owl-theme .owl-dots .owl-dot.active span:before{
  color: #b38e6e;
}

.about-style-two .upper-box .title-text h2{
	color: #b38e6e;
}

.about-style-two .upper-box .inner .icon-box{
	color: #b38e6e;
}

.about-style-two .lower-box .single-item .icon-box{
	color: #b38e6e;
}

.about-style-two .lower-box .single-item h6 a:hover{
	color: #b38e6e;
}

.about-style-two .lower-box .single-item h6 i{
	color: #b38e6e;
}

.team-block-one .inner-box .social-links li a:hover{
	background: #b38e6e;
}

.team-block-one .inner-box .lower-content h4 a:hover{
	color: #b38e6e;
}

.team-block-one .inner-box .lower-content .designation{
	color: #b38e6e;
}

.chooseus-block-one .inner-box .count-text{
	color: #b38e6e;
}

.chooseus-block-one .inner-box .icon-box{
	color: #b38e6e;
}

.chooseus-block-one .inner-box h4 a:hover{
	color: #b38e6e;
}

.chooseus-block-one .inner-box:hover .count-text{
	background: #b38e6e;
}

.gallery-block-one .inner-box .text h4 a:hover{
	color: #b38e6e;
}

.gallery-block-one .inner-box .list li a:hover{
	color: #b38e6e;
}

.location-section .tab-btns li{
	background: #b38e6e;
}

.location-section .tab-btns li:hover,
.location-section .tab-btns li.active-btn{
	border-color: #b38e6e;
}

.location-section .tabs-content .single-location .text .icon{
	color: #b38e6e;
}

.testimonial-style-two .testimonial-content .author-box h5 span{
	color: #b38e6e;
}

.testimonial-style-two .testimonial-content .author-box .rating li{
	color: #b38e6e;
}

.news-block-two .inner-box .image-box .category{
	color: #b38e6e;
}

.news-block-two .inner-box .lower-content .post-date h5 i{
	color: #b38e6e;
}

.news-block-two .inner-box .lower-content h4 a:hover{
	color: #b38e6e;
}

.news-block-two .inner-box .lower-content .link a:hover{
	color: #b38e6e;
}

.news-block-two .inner-box .lower-content .link a i{
	color: #b38e6e;
}

.footer-style-two .logo-widget .rating-box .rating li{
	background: #b38e6e;
}

.footer-style-two .footer-top .widget-title:before{
	background: #b38e6e;
}

.footer-style-two .links-widget .links-list li a:hover{
	color: #b38e6e;
}

.footer-style-two .links-widget .links-list li a:hover:before{
	background: #b38e6e;
}

.footer-style-two .newsletter-widget .form-group .theme-btn{
	background: #b38e6e;
}

.footer-style-two .newsletter-widget .form-group input:focus{
	border-color: #b38e6e !important;
}

.footer-style-two .newsletter-widget .text p span{
	color: #b38e6e;
}

.footer-style-two .footer-bottom .copyright p span,
.footer-style-two .footer-bottom .copyright p a{
	color: #b38e6e;
}

.footer-style-two .footer-bottom .footer-nav li a:hover{
	color: #b38e6e;
}

.scroll-to-top.home-3 .scroll-bar-text{
	color: #b38e6e;
}

.home02_v2 .header-style-two .header-top .top-inner .single-item .icon{
	color: #e01c1d;
}

.home02_v2 .header-style-two .header-top .top-inner .share-box li h6 i{
	color: #e01c1d;
}

.home02_v2 .header-style-two .header-top .top-inner .share-box li a:hover{
	color: #e01c1d;
}

.home02_v2 .header-style-two .menu-lower-content .text h5 a{
	color: #e01c1d;
}

.home02_v2 .main-menu .navigation > li.current > a, 
.home02_v2 .main-menu .navigation > li:hover > a{
	color: #e01c1d;
}

.home02_v2 .main-menu .navigation > li.dropdown.current > a:before, 
.home02_v2 .main-menu .navigation > li.dropdown:hover > a:before{
	color: #e01c1d;
}

.home02_v2 .header-style-two .outer-box .menu-right .search-toggler:hover{
	color: #e01c1d;
}

.home02_v2 .theme-btn.btn-four:before{
	background: #e01c1d;
}

.home02_v2 .sidebar-info-contents .content-inner .contact-info ul li a:hover{
	color: #e01c1d;
}

.home02_v2 .sidebar-info-contents .content-inner .social-box li a:hover{
	background: #e01c1d;
	border-color: #e01c1d;
}

.home02_v2 .header-style-two .menu-lower-content .option-list li h6 i{
	color: #e01c1d;
}

.home02_v2 .header-style-two .menu-lower-content .option-list li h6 a:hover{
	color: #e01c1d;
}

.home02_v2 .banner-style-two .curve-text .curved-circle{
	color: #e01c1d;
}

.home02_v2 .banner-style-two .curve-text .icon-box{
	color: #e01c1d;
}

.home02_v2 .banner-style-two .curve-text h6 a{
	color: #e01c1d;
}

.home02_v2 .banner-style-two .owl-theme .owl-dots .owl-dot.active span{
	background: #e01c1d;
}

.home02_v2 .banner-style-two .owl-nav button:hover:before{
	color: #e01c1d !important;
}

.home02_v2 .banner-carousel .content-box .btn-box .theme-btn{
	background: #e01c1d;
}

.home02_v2 .sec-title-two h5:before{
	background: #e01c1d;
}

.home02_v2 .service-style-two .service-block-one .inner-box .image-box .icon-box:before{
	background: #e01c1d;
}

.home02_v2 .service-style-two .service-block-one .inner-box .lower-content .text h4 a:hover{
	color: #e01c1d;
}

.home02_v2 .service-style-two .service-block-one .inner-box:hover .lower-content .lower-box{
	background: #e01c1d;
}

.home02_v2 .course-style-three .owl-nav button.owl-prev:hover:before, 
.home02_v2 .course-style-three .owl-nav button.owl-next:hover:before{
	background: #e01c1d;
}

.home02_v2 .course-block-one .inner-box .image-box .price h2{
	color: #e01c1d;
}

.home02_v2 .course-block-one .inner-box .content-box .btn-box a:hover{
	background: #e01c1d;
}

.home02_v2 .course-block-one .lower-box h6{
	color: #e01c1d;
}

.home02_v2 .course-block-one .lower-box h3 a:hover{
	color: #e01c1d;
}

.home02_v2 .car-block-one .inner-box .content-box .text h6:before{
	background: #e01c1d;
}

.home02_v2 .car-block-one .inner-box .content-box .text h4 a:hover{
	color: #e01c1d;
}

.home02_v2 .car-block-one .inner-box:hover .content-box .lower-box{
	background: #e01c1d;
}

.home02_v2 .ourcars-section .owl-theme .owl-dots .owl-dot.active span:before{
	color: #e01c1d;
}

.home02_v2 .ourcars-section .owl-nav button:hover:before{
	color: #e01c1d !important;
}

.home02_v2 .about-style-two .lower-box .single-item h6 i{
	color: #e01c1d;
}

.home02_v2 .about-style-two .lower-box .single-item h6 a:hover{
	color: #e01c1d;
}

.home02_v2 .team-block-one .inner-box .social-links li a:hover{
	background: #e01c1d;
}

.home02_v2 .team-block-one .inner-box .lower-content h4 a:hover{
	color: #e01c1d;
}

.home02_v2 .team-block-one .inner-box .lower-content .designation{
	color: #e01c1d;
}

.home02_v2 .chooseus-block-one .inner-box .count-text{
	color: #e01c1d;
}

.home02_v2 .chooseus-block-one .inner-box:hover .count-text{
	background: #e01c1d;
}

.home02_v2 .chooseus-block-one .inner-box h4 a:hover{
	color: #e01c1d;
}

.home02_v2 .chooseus-block-one .inner-box .icon-box{
	color: #e01c1d;
}

.home02_v2 .gallery-block-one .inner-box .text h4 a:hover{
	color: #e01c1d;
}

.home02_v2 .gallery-block-one .inner-box .list li a:hover{
	color: #e01c1d;
}

.home02_v2 .location-section .tab-btns li{
	background: #e01c1d;
}

.home02_v2 .location-section .tab-btns li:hover, 
.home02_v2 .location-section .tab-btns li.active-btn{
	border-color: #e01c1d;
}

.home02_v2 .location-section .tabs-content .single-location .text .icon{
	color: #e01c1d;
}

.home02_v2 .testimonial-style-two .testimonial-content .author-box .rating li{
	color: #e01c1d;
}

.home02_v2 .news-block-two .inner-box .image-box .category{
	color: #e01c1d;
}

.home02_v2 .news-block-two .inner-box .lower-content .post-date h5 i{
	color: #e01c1d;
}

.home02_v2 .news-block-two .inner-box .lower-content h4 a:hover{
	color: #e01c1d;
}

.home02_v2 .news-block-two .inner-box .lower-content .link a i{
	color: #e01c1d;
}

.home02_v2 .news-block-two .inner-box .lower-content .link a:hover{
	color: #e01c1d;
}

.home02_v2 .footer-style-two .logo-widget .rating-box .rating li{
	background: #e01c1d;
}

.home02_v2 .footer-style-two .footer-top .widget-title:before{
	background: #e01c1d;
}

.home02_v2 .footer-style-two .links-widget .links-list li a:hover{
	color: #e01c1d;
}

.home02_v2 .footer-style-two .links-widget .links-list li a:hover:before{
	background: #e01c1d;
}

.home02_v2 .footer-style-two .newsletter-widget .form-group input:focus {
  border-color: #e01c1d !important;
}

.home02_v2 .footer-style-two .newsletter-widget .form-group .theme-btn{
	background: #e01c1d;
}

.home02_v2 .footer-style-two .newsletter-widget .text p span{
	color: #e01c1d;
}

.home02_v2 .footer-style-two .footer-bottom .copyright p span, 
.home02_v2 .footer-style-two .footer-bottom .copyright p a{
	color: #e01c1d;
}

.home02_v2 .footer-style-two .footer-bottom .footer-nav li a:hover{
	color: #e01c1d;
}

.home02_v2 .scroll-to-top .scroll-bar-text{
	color: #e01c1d;
}

.page-title .content-box .bread-crumb li a:hover{
	color: #fee100;
}

.about-style-three .content-box .inner .link-box li a:after{
	color: #fee100;
}

.funfact-section.alternat-2 .funfact-block-one .inner-box .icon-box{
	border: 6px solid #fee100;
}

.theme-btn.btn-five:before{
	background: #fee100;
}

.history-section .bx-controls-direction a:hover{
	background: #fee100;
	border-color: #fee100;
}

.team-section.alternat-2 .team-block-one .inner-box .social-links li a:hover{
	background: #fee100;
}

.team-section.alternat-2 .team-block-one .inner-box .lower-content h4 a:hover{
	color: #fee100;
}

.dedicated-section .single-item .inner-box .content-box .text a i{
	color: #fee100;
}

.dedicated-section .single-item .inner-box .content-box .text a:hover{
	color: #fee100;
}

.faq-page-section .upper-box .form-inner .form-group input:focus{
	border-color: #fee100 !important;
}

.faq-page-section .upper-box .form-inner .form-group input:focus + button,
.faq-page-section .upper-box .form-inner .form-group button:hover{
	color: #fee100;
}

.error-section .form-inner .form-group input:focus{
	border-color: #fee100 !important;
}

.error-section .form-inner .form-group input:focus + button,
.error-section .form-inner .form-group button:hover{
	background: #fee100;
}

.error-section h1 .text:before{
	background: #fee100;
}

.about-style-four .content-box .inner-box .single-item .icon-box{
	color: #fee100;
}

.about-style-four .content-box .inner-box .single-item:hover .icon-box{
	background: #fee100;
}

.chooseus-section.alternat-2 .chooseus-block-one .inner-box:hover .count-text{
	background: #fee100;
}

.chooseus-section.alternat-2 .chooseus-block-one .inner-box .icon-box{
	color: #fee100;
}

.chooseus-section.alternat-2 .chooseus-block-one .inner-box h4 a:hover{
	color: #fee100;
}

.testimonial-style-two.alternat-2 .testimonial-content .author-box .rating li{
	color: #fee100;
}

.location-section.alternat-2 .tab-btns li{
	background: #fee100;
}

.location-section.alternat-2 .sec-title{
	margin-bottom: 11px;
}

.location-section.alternat-2 .tab-btns li:hover, 
.location-section.alternat-2 .tab-btns li.active-btn{
	background: #fee100;
}

.course-style-three.alternat-2 .course-block-one .inner-box .content-box .btn-box a:hover{
	background: #fee100;
}

.course-style-three.alternat-2 .course-block-one .lower-box h3 a:hover{
	color: #fee100;
}

.course-details .inner-box .upper-box .price-box{
	background: #fee100;
}

.course-details .inner-box .upper-box .inner .rating li{
	background: #fee100;
}

.course-details .inner-box .upper-box .inner .feedback h6 a:hover{
	color: #fee100;
}

.team-section.course-details .team-block-one .inner-box .social-links li a:hover{
	background: #fee100;
}

.team-section.course-details .team-block-one .inner-box .lower-content h4 a:hover{
	color: #fee100;
}

.team-section.course-details .team-block-one .inner-box .lower-content .designation{
	color: #fee100;
}

.trainers-section .content-box .support-box h4 a:hover{
	color: #fee100;
}

.enquire-section{
	background: #fee100;
}

.service-details-content .content-two .single-item .icon-box{
	background: #fee100;
}

.service-details-content .content-three .tab-btns li h4:before{
	color: #fee100;
}

.service-sidebar .service-category h4:before{
	color: #fee100;
}

.service-sidebar .service-category .category-list li a:hover:before,
.service-sidebar .service-category .category-list li a.current:before{
	color: #fee100;
}

.service-sidebar .contact-widget .theme-btn:hover{
	background: #fee100;
}

.news-block-one .inner-box .lower-content h3 a:hover{
	color: #fee100;
}

.pagination li a:hover,
.pagination li a.current{
	background: #fee100;
	border-color: #fee100;
}

.blog-grid .news-block-two .inner-box .image-box .category{
	background: #fee100;
}

.blog-grid .news-block-two .inner-box .lower-content h4 a:hover{
	color: #fee100;
}

.blog-grid .news-block-two .inner-box .lower-content .link a i{
	color: #fee100;
}

.blog-grid .news-block-two .inner-box .lower-content .link a:hover{
	color: #fee100;
}

.blog-list .news-block-one .inner-box .lower-content .lower-box .share-box .share-btn:hover{
	color: #fee100;
}

.blog-list .news-block-one .inner-box .lower-content .lower-box .share-box .social-links li a:hover{
	color: #fee100;
}

.blog-sidebar .widget-title:before{
	color: #fee100;
}

.blog-sidebar .search-widget .search-inner .form-group input:focus{
	border-color: #fee100 !important;
}

.blog-sidebar .search-widget .search-inner .form-group input:focus + button,
.blog-sidebar .search-widget .search-inner .form-group button:hover{
	color: #fee100;
}

.blog-sidebar .author-widget .author-content .social-links li a:hover{
	background: #fee100;
	border-color: #fee100;
}

.blog-sidebar .category-widget .category-list li a:hover:before{
	background: #fee100;
	border-color: #fee100;
}

.blog-sidebar .post-widget .post .post-thumb a{
	color: #fee100;
}

.blog-sidebar .post-widget .post h5 a:hover{
	color: #fee100;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
	background: #fee100;
}

.blog-list-two .news-block-one .inner-box .category{
	background: #fee100;
}

.blog-details-content .content-one .upper-box .category{
	background: #fee100;
}

.blog-details-content .content-one .upper-box .other-option > li > a:hover{
	background: #fee100;
	border-color: #fee100;
}

.blog-details-content .content-one .upper-box .other-option .share-box .social-links li a:hover{
	color: #fee100;
}

.blog-details-content .small-title:before{
	color: #fee100;
}

.blog-details-content .post-tags .tags-list li a:hover{
	background: #fee100;
}

.blog-details-content .post-btn .single-btn .icon-box a:hover{
	background: #fee100;
	border-color: #fee100;
}

.contact-section .inner-box .single-item p a:hover{
	color: #fee100;
}

.contact-section .inner-box .social-links li a:hover{
	background: #fee100;
}

.contact-section .form-inner form .form-group input:focus,
.contact-section .form-inner form .form-group textarea:focus{
	border-color: #fee100 !important;
}

.contact-section .form-inner form .form-group button{
	border: 1px solid #fee100;
}

.contact-section .form-inner form .form-group button:hover{
	background: #fee100;
}

.location-block-one .inner-box h3:before{
	color: #fee100;
}

.location-block-one .inner-box .single-item p a:hover{
	color: #fee100;
}

.menu-area .mobile-nav-toggler{
	background: #fee100;
}

.home01_v2 .menu-area .mobile-nav-toggler{
	background: #81b4bf;
}

.header-style-two .menu-area .mobile-nav-toggler{
	background: #84acca;
}

.home02_v2 .header-style-two .menu-area .mobile-nav-toggler{
	background: #e01c1d;
}

.home02_v2 .header-style-two .main-menu .navigation > li > ul > li > a:hover{
	color: #e01c1d;
}

.home02_v2 .header-style-two .main-menu .navigation > li > ul > li > a:before{
	color: #e01c1d;
}

.home02_v2 .header-style-two .main-menu .navigation > li > .megamenu ul li:last-child a:hover{
	color: #e01c1d;
}

.home02_v2 .header-style-two .main-menu .navigation > li > .megamenu ul li:last-child a:before{
	color: #e01c1d;
}

.header-style-two .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #e01c1d;
}