@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon10d2.ttf?5b5bb296732f19654f9b001c0955cc2a") format("truetype"),
url("../fonts/flaticon10d2.woff?5b5bb296732f19654f9b001c0955cc2a") format("woff"),
url("../fonts/flaticon10d2.woff2?5b5bb296732f19654f9b001c0955cc2a") format("woff2"),
url("../fonts/flaticon10d2.eot?5b5bb296732f19654f9b001c0955cc2a#iefix") format("embedded-opentype"),
url("../fonts/flaticon10d2.svg?5b5bb296732f19654f9b001c0955cc2a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-alarm:before {
    content: "\f101";
}
.flaticon-location:before {
    content: "\f102";
}
.flaticon-share:before {
    content: "\f103";
}
.flaticon-right-arrow:before {
    content: "\f104";
}
.flaticon-search:before {
    content: "\f105";
}
.flaticon-right-arrow-1:before {
    content: "\f106";
}
.flaticon-right-arrow-2:before {
    content: "\f107";
}
.flaticon-download:before {
    content: "\f108";
}
.flaticon-star:before {
    content: "\f109";
}
.flaticon-star-half-empty:before {
    content: "\f10a";
}
.flaticon-traffic-lights:before {
    content: "\f10b";
}
.flaticon-email:before {
    content: "\f10c";
}
.flaticon-send:before {
    content: "\f10d";
}
.flaticon-chevron:before {
    content: "\f10e";
}
.flaticon-diagonal-arrow:before {
    content: "\f10f";
}
.flaticon-magnifier:before {
    content: "\f110";
}
.flaticon-call:before {
    content: "\f111";
}
.flaticon-driving-school:before {
    content: "\f112";
}
.flaticon-exam:before {
    content: "\f113";
}
.flaticon-steering-wheel:before {
    content: "\f114";
}
.flaticon-information-button:before {
    content: "\f115";
}
.flaticon-slippery-road:before {
    content: "\f116";
}
.flaticon-driver-license:before {
    content: "\f117";
}
.flaticon-protection:before {
    content: "\f118";
}
.flaticon-happy:before {
    content: "\f119";
}
.flaticon-shopping-cart:before {
    content: "\f11a";
}
.flaticon-online-education:before {
    content: "\f11b";
}
.flaticon-play-button:before {
    content: "\f11c";
}
.flaticon-quotes:before {
    content: "\f11d";
}
.flaticon-telephone:before {
    content: "\f11e";
}
.flaticon-pdf:before {
    content: "\f11f";
}
.flaticon-clock:before {
    content: "\f120";
}
.flaticon-mission:before {
    content: "\f121";
}
.flaticon-target:before {
    content: "\f122";
}
.flaticon-play-button-1:before {
    content: "\f123";
}
.flaticon-driver:before {
    content: "\f124";
}
.flaticon-dollar-symbol:before {
    content: "\f125";
}
.flaticon-car:before {
    content: "\f126";
}
.flaticon-cone:before {
    content: "\f127";
}
.flaticon-overtime:before {
    content: "\f128";
}
.flaticon-event:before {
    content: "\f129";
}
.flaticon-crossed-arrows:before {
    content: "\f12a";
}
.flaticon-share-1:before {
    content: "\f12b";
}
.flaticon-pin:before {
    content: "\f12c";
}
.flaticon-quote:before {
    content: "\f12d";
}
.flaticon-link:before {
    content: "\f12e";
}
.flaticon-checkbox-mark:before {
    content: "\f12f";
}
